* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: Hamburg Serial;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

.list {
  list-style: circle;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
}

